body{ 
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    font-family: 'arial','微软雅黑','黑体';
    /*background-color: #3b793a;*/
}
img{
    width: 100%;
    height: 100%;
}
#show_box{ 
    min-width:280px; 
    max-width:720px; 
    margin:0 auto; 
    position:relative;
    overflow-x: hidden;
    color: #000;
    margin-bottom: 1.4rem;
}
.main_box{
    width: 7.2rem;
    height: 12.8rem;
    background: url(img/lucky_card_bg.jpg) no-repeat center;
    background-size: 100% 100%;
}
.placeholder_div{
    height: 0.9rem;
}
.cardbox{
    width: 6.6rem;
    height: 2.5rem;
    margin: 0 auto;
    background: url(img/card_bg.png) no-repeat center;
    background-size: 100% 100%; 
    position: relative;
}
#scratch{
    position: absolute;
    height:1.6rem;
    width: 5.3rem;
    top: 5rem;
    left: .95rem;
    background: #faca68;
}
#result_word{
    text-align: center;
    font-size: 0.36rem;
    color: #ff6300;
    padding-top: 0.2rem;
}
.result_icon{
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
}
.yadou_msg{
    text-align: center;
    display: none;
}
.layerbox{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.4);
    display: none;
}
.layercont{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5.4rem;
    height: 4.8rem;
    margin-left: -2.7rem;
    margin-top: -2.4rem;
    background: url(img/phone.png) no-repeat center;
    background-size: 100% 100%;
}
.lottery_count{
    font-size: 0.3rem;
    text-align: center;
}
.awards_text{
    margin-top: 1.8rem;
    text-align: center;
    font-size: 0.36rem;
    color: #ff6300;
}
.placeholder_text{
    font-size: 0.26rem;
    text-align: center;
}
.phone_text{
    margin: 0.2rem auto;
    width: 3.8rem;
    height: 0.6rem;
}
#ph_num{
    width: 100%;
    height: 100%;
    font-size: 0.36rem;
    border-radius: 0.1rem;
}
#submitbtn{
    width: 3.6rem;
    height: 0.6rem;
    margin: 0.4rem auto;
}
#scratch{ position: relative;}
#cover{ position: absolute; top:0; left:0;}
#card{ -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; height: 100%}